body {
  background-repeat: no-repeat;
  background-position: center;
}

.main-container {
  margin-top: 80px;
  background: #ffffff;
  min-height: calc(100vh - 80px);
}

.alert {
  width: 90%;
  margin: 5px auto;
}

/* Loading Block */
#loading {
  width: 100vw;
  height: 100vh;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
.spinner {
  width: 2000px;
  height: 2000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
/* Loading Animation */
@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* Hide Loading Block */
.loaded {
  opacity: 0;
  visibility: hidden;
}

.quote-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  text-align: center;
  display: none; /* 初期状態では非表示 */
  background-color: #f0f0f0; /* 背景色を明るくする */
  border-radius: 10px; /* 角を丸くする */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 影を追加する */
  padding: 20px; /* パディングを追加する */
}

.quote-title {
  font-size: 2em;
  margin-bottom: 10px; /* タイトルと名言の間にスペースを追加 */
  color: #333; /* タイトルのテキスト色 */
  font-weight: bold;
}

.quote-slide {
  display: none; /* 各スライドは非表示 */
}

.quote-text {
  color: red; /* テキスト色を暗くする */
  font-size: 1.5em; /* フォントサイズを大きくする */
  font-weight: bold;
}
