<div class="answer-container">
  <h3>ニーチェからの回答</h3>
  <%= image_tag 'Nietzsche3.jpeg',size: "500x300", class: "answer-image" %>
  <div class="answer-box">
    <p class="answer-text"><%= @chats %></p>
  </div>
  <%= link_to '入力ページに戻る', index_adviser5_path %>
</div>
