<div class="answer-container">
  <h3 class="your-question">あなたの相談</h3>
  <div class="question-box">
    <p class="question-text"><%= @user_message %></p>
  </div>

  <h3 class="answer-title">アドラーからの回答</h3>
  <%= image_tag 'Alfred Adler2.jpeg',size: "500x300", class: "answer-image" %>
  <div class="answer-box">
    <p class="answer-text"><%= @chats.gsub('。', "。<br>").html_safe %></p>
  </div>
  <%= link_to '入力ページに戻る', index_adviser4_path %>
</div>
