<div class="answer-container">
  <h3 class="your-question">あなたの相談</h3>
  <div class="question-box">
    <p class="question-text"><%= @user_message %></p>
  </div>

  <h3 class="answer-title">マルクスからの回答</h3>
  <%= image_tag 'Karl Marx2.jpeg',size: "500x300", class: "answer-image" %>
  <div class="answer-box">
    <p class="answer-text"><%= @chats.gsub('。', "。<br>").html_safe %></p>
  </div>
  <%= link_to '入力ページに戻る', index_adviser1_path %>
</div>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
