<div id="loading">
  <div id="loading_box">
    <div class="loading-one animation_loading">
      <p class="loading-txt">Loading</p>
    </div>
  </div>
</div>


<h3>マルクスからの回答</h3>
<p><%= @chats %></p>
<%= link_to '入力ページに戻る', index_adviser1_path	%>
